// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
@import 'spinner';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.product {
    border: 1px solid black;
    padding: 0px 0px 5px 5px;
}

p.price {
    font-weight: bold;
    text-align: right;
    font-size: 30px;
}

// Number spinner input --start--
.number-spinner {
    max-width: 150px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50px 0px 0px 50px;
    border: 2px solid #82ca9c;
    overflow: hidden;
    position: relative;
    display: table;
    input {
        height: 40px;
        max-height: 40px;
        line-height: 40px;
        font-size: 1em;
        padding: 0;
        margin: 0;
        border: none;
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
        &:focus {
            outline: none;
        }
    }
    .ns-btn {
        position: relative;
        font-size: 0;
        white-space: nowrap;
        vertical-align: middle;
        display: table-cell;
        cursor: pointer;
        a {
            height: 40px;
            min-height: 40px;
            width: 40px;
            padding: 0;
            max-width: 40px;
            line-height: 40px;
            border-radius: 0;
            border: none;
            text-align: center;
            position: relative;
            background: #e2e2e2;
            color: #333;
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
        }
        .icon-minus:after {
            content: "\002212";
            font-size: 35px;
            line-height: 38px;
            font-weight: bold;
        }
        .icon-plus:after {
            content: "\00002B";
            font-size: 38px;
            line-height: 35px;
            font-weight: bold;
        }
    }
}

// Number spinner input small --start--
.number-spinner-sml {
    max-width: 65px;
    //line-height: 40px;
    //padding: 0;
    //margin: 0;
    //border-radius: 50px 0px 0px 50px;
    border: 2px solid #82ca9c;
    overflow: hidden;
    position: relative;
    display: table;
    input {
        height: 20px;
        max-height: 20px;
        line-height: 20px;
        font-size: 18px;
        padding: 0;
        margin: 0;
        border: none;
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
        &:focus {
            outline: none;
        }
    }
    .ns-btn-sml {
        position: relative;
        font-size: 0;
        white-space: nowrap;
        vertical-align: middle;
        display: table-cell;
        cursor: pointer;
        a {
            height: 20px;
            min-height: 20px;
            width: 20px;
            padding: 0;
            max-width: 20px;
            line-height: 20px;
            border-radius: 0;
            border: none;
            text-align: center;
            position: relative;
            background: #e2e2e2;
            color: #333;
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
        }
        .icon-minus-sml:after {
            content: "\002212";
            font-size: 18px;
            line-height: 20px;
            font-weight: bold;
        }
        .icon-plus-sml:after {
            content: "\00002B";
            font-size: 18px;
            line-height: 20px;
            font-weight: bold;
        }
    }
}

.number-submit {
    max-width: 150px;
    line-height: 40px;
    padding: 0px 10px;
    margin: 0;
    border-radius: 0px 50px 50px 0px;
    border: 2px solid #82ca9c;
    overflow: hidden;
    position: relative;
    display: table;
    background-color: #82ca9c;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    letter-spacing: -0.015em;
    font-size: 0.75em;
    font-weight: bold;
    transition: all 0.25s linear;

    &:hover , &:focus, &:active {
        background: #f69679;
    }
}

// Number spinner input --END--

@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);
//@import "compass/reset";
$fontSans : 'Montserrat', sans-serif;
$fontSerif : 'Droid Serif', serif;


@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
*{ box-sizing:border-box;}



body {
    color: #333;
    -webkit-font-smoothing: antialiased;
    font-family: $fontSerif;

}
img {
    max-width:100%;
}
.cf:before,.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}


.wrap {
    width: 75%;
    max-width: 960px;
    margin: 0 auto;
    padding: 5% 0;
    margin-bottom: 5em;

}

.projTitle {
    font-family: $fontSans;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    padding: 1em 0;
    border-bottom: 1px solid #dadada;
    letter-spacing: 3px;
    text-transform: uppercase;
    span {
        font-family: $fontSerif;
        font-weight: normal;
        font-style: italic;
        text-transform: lowercase;
        color: #777;

    }
}
// CART HEADER
.heading {
    padding: 1em 0;
    border-bottom: 1px solid #D0D0D0;

    h1 {
        font-family: $fontSerif;
        font-size: 2em;
        float: left;
    }

    a.continue {
        &:link , &:visited {
            text-decoration: none;
            font-family: $fontSans;
            letter-spacing: -.015em;
            font-size: .75em;
            padding: 1em;
            color: #fff;
            background: #82ca9c;
            font-weight: bold;
            border-radius: 50px;
            float: right;
            text-align: right;
            @include transition(all, .25s, linear);
        }
        &:after {
            content: "\276f";
            padding: .5em;
            position: relative;
            right:0;
            @include transition(all, .15s, linear);

        }
        &:hover , &:focus, &:active {
            background: #f69679;

            &:after {
                right: -10px;
            }
        }
    }
}

#dropdownMenuLink {
    padding: 0px 80px 0px 40px;
}

// TABLE HEADING

.tableHead {
    display: table;
    width: 100%;
    font-family: $fontSans;
    font-size: .75em;
    li {
        display: table-cell;
        padding: 1em 0;
        text-align: center;
        &.prodHeader {
            text-align: left;
        }
    }
}

// CART Items

.cart {
    padding: 1em 0 ;

    .items {
        display: block;
        width: 100%;
        vertical-align: middle;
        padding: 1.5em;

        border-bottom: 1px solid #fafafa;
        &.even {
            background: #fafafa;
        }
        .infoWrap {
            display: table;
            width: 100%;
        }
        .cartSection {
            display: table-cell;

            vertical-align: middle;


            .itemNumber {
                font-size: .75em;
                color: #777;
                margin-bottom: .5em;
            }

            h3 {

                font-size: 1em;
                font-family: $fontSans;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: .025em;


            }
            p {
                display: inline-block;
                font-size: .85em;

                color: #777777;
                font-family: $fontSans;
                .quantity {
                    font-weight: bold;
                    color: #333;
                }

                &.stockStatus {
                    color: #82CA9C;
                    font-weight: bold;
                    padding: .5em 0 0 1em;
                    text-transform: uppercase;
                    &.out {
                        color: #F69679;
                    }
                }

            }
            .itemImg {
                width: 4em;

                float: left;
            }
            &.qtyWrap , &.prodTotal {
                text-align: center;
                p {
                    font-weight: bold;
                    font-size: 1.25em;
                }

            }

            input.qty {
                width: 2em;
                text-align: center;
                font-size: 1em;
                padding: .25em;
                margin: 1em .5em 0 0;

            }
            .itemImg {
                width: 8em;
                display: inline;
                padding-right: 1em;
            }


        }
    }

}

.special {
    display: block;
    font-family: $fontSans;
    .specialContent {
        padding: 1em 1em 0;
        display: block;
        margin-top:.5em;
        border-top: 1px solid #dadada;
        &:before {
            content: "\21b3";
            font-size: 1.5em;
            margin-right: 1em;
            color: #6f6f6f;
            font-family: helvetica, arial, sans-serif;
        }}

}

a.remove {
    text-decoration: none;
    font-family: $fontSans;
    color: #ffffff;
    font-weight: bold;
    background: #e0e0e0;
    padding: .5em;
    font-size: .75em;
    display: inline-block;
    border-radius: 100%;
    line-height: .85;
    @include transition(all, .25s, linear);
    &:hover {
        background: #f30;
    }
}

.promoCode {
    border:2px solid #efefef;
    float: left;
    width: 35%;
    padding: 2%;
    label {
        display: block;
        width: 100%;
        font-style: italic;
        font-size: 1.15em;

        margin-bottom: .5em;
        letter-spacing: -.025em;

    }
    input {
        width: 85%;
        font-size: 1em;
        padding: .5em;
        float: left;
        border: 1px solid #dadada;
        &:active, &:focus {
            outline: 0;

        }
    }
    a.btn {
        float: left;
        width: 15%;
        padding: .75em 0;
        border-radius: 0 1em 1em 0;
        text-align: center;
        border: 1px solid #82ca9c;
        &:hover {
            border: 1px solid #f69679;
            background: #f69679;
        }
    }
}

//.btn {
//    &:link , &:visited {
//        text-decoration: none;
//        font-family: $fontSans;
//        letter-spacing: -.015em;
//        font-size: 1em;
//        padding: 1em 3em;
//        color: #fff;
//        background: #82ca9c;
//        font-weight: bold;
//        border-radius: 50px;
//        float: right;
//        text-align: right;
//        @include transition(all, .25s, linear);
//    }
//    &:after {
//        content: "\276f";
//        padding: .5em;
//        position: relative;
//        right:0;
//        @include transition(all, .15s, linear);
//
//    }
//    &:hover , &:focus, &:active {
//        background: #f69679;
//        &:after {
//            right: -10px;
//        }
//    }
//
//    .promoCode & {
//        font-size: .85em;
//        paddding: .5em 2em;
//    }
//}

/* TOTAL AND CHECKOUT  */
.subtotal {
    float: right;
    width: 35%;
    .totalRow {
        padding: .5em;
        text-align: right;

        &.final {
            font-size: 1.25em;
            font-weight: bold;
        }
        span {
            display: inline-block;
            padding: 0 0 0 1em;
            text-align: right;

        }
        .label {
            font-family: $fontSans;
            font-size: .85em;
            text-transform: uppercase;
            color: #777;
        }
        .value {

            letter-spacing: -.025em;
            width: 35%;
        }
    }
}

@media only screen and (max-width:39.375em){

    .wrap {
        width: 98%;
        padding: 2% 0;
    }
    .projTitle{
        font-size: 1.5em;
        padding: 10% 5%;
    }
    .heading {
        padding: 1em;
        font-size: 90%;
    }

    .cart {
        .items {

            .cartSection {
                width: 90%;
                display: block;float: left;
                &.qtyWrap {
                    width: 10%;
                    text-align: center;
                    padding: .5em 0;
                    float: right;
                    &:before {
                        content: "QTY";
                        display: block;
                        font-family: $fontSans;
                        padding: .25em;
                        font-size: .75em;
                    }
                }
                &.prodTotal , &.removeWrap {
                    display: none;
                }
                .itemImg {
                    width: 25%;
                }
            }
        }}
    .promoCode , .subtotal{
        width: 100%;
    }

    a.btn.continue {
        width: 100%;
        text-align: center;
    }
}

#empty_basket {
    text-align: center;
    color: #82ca9c;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 50px;
}

.none_border {
    border: none;
}

// css pro tabulku v prehledu produktu

$breakpoint-alpha: 480px; // adjust to your needs

.rwd-table {
    margin: 1em 0;
    min-width: 300px; // adjust to your needs

    tr {
        border-top: 1px solid #82ca9c;
        border-bottom: 1px solid #82ca9c;
    }

    th {
        display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
    }

    td {
        display: block;

        &:first-child {
            padding-top: .5em;
        }
        &:last-child {
            padding-bottom: .5em;
        }

        &:before {
            content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
            font-weight: bold;

            // optional stuff to make it look nicer
            width: 6.5em; // magic number :( adjust according to your own content
            display: inline-block;
            // end options

            @media (min-width: $breakpoint-alpha) {
                display: none;
            }
        }
    }

    th, td {
        text-align: left;

        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: .25em .5em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

    }

    tbody {
        border: 1px solid #82ca9c;
    }

}


// presentational styling

//body {
//    padding: 0 2em;
//    font-family: Montserrat, sans-serif;
//    -webkit-font-smoothing: antialiased;
//    text-rendering: optimizeLegibility;
//    color: #444;
//    background: #eee;
//}
//
//h1 {
//    font-weight: normal;
//    letter-spacing: -1px;
//    color: #34495E;
//}

.rwd-table {
    //background: #34495E;
    color: #636b6f;
    border-radius: .4em;
    overflow: hidden;
    tr {
        //border-color: lighten(#34495E, 10%);
    }

    th {
        background-color: #d4edda;
    }

    th, td {
        margin: .5em 1em;
        @media (min-width: $breakpoint-alpha) {
            padding: 1em !important;
        }
    }
    th, td:before {
        color: #636b6f;
    }

    tbody {
        border: 1px solid #82ca9c;
    }
}

.orderDetailTable {
    display: none;
}

.product-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 120px;
    padding: 100px 0 120px;

    .selected {
        border: 1px solid #979797;
    }
}

.product-section-images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.product-section-thumbnail {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    min-height: 66px;
    cursor: pointer;

    &:hover {
        border: 1px solid #979797;
    }
}

.product-section-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #979797;
    padding: 30px;
    text-align: center;
    height: 400px;

    img {
        opacity: 0;
        transition: opacity .10s ease-in-out;
        max-height: 100%;
    }

    img.active {
        opacity: 1;
    }
}

.product-section-information {

    p {
        margin-bottom: 16px;
    }

}

.product-section-title {
    margin-bottom: 0;
}

.product-section-subtitle {
    font-size: 20px;
    font-weight: bold;
    color: #919191;
}

.product-section-price {
    font-size: 38px;
    color: #212121;
    margin-bottom: 16px;
}
